<% include ../partials/header %>
<% include ../partials/navClient %>

<div class="container">
  <div class="row">
    <h1>Feature cancelled</h1>
    <p>you can only view current portfolios</p>
    <a href="/works">here</a>
  </div>
</div>