a {
  display: block;
  text-align: center;
}

.profile-head {
  margin-top: 3em;
}

.date {
  color: #BBB;
  display: block;
  text-align: right;
  margin-bottom: 5px;
}

.number-works {
  font-size: 12px !important;
}

.works {
  margin-top: 2.5em;
}

.single-work {
  margin-right: 5px;
  margin-left: 5px;
  word-wrap: break-word;
}

.desc {
  margin-top: 10px;
}

#create-button {
  margin-top: 15px;
}

#no-profile-par {
  margin-top: 15px;
  font-size: 18px;
}