<% include ../partials/header %>
<% include ../partials/nav %>

<div class="container">
  <div class="row">
    <h1 class="text-center">Welcome to your profile, <strong><%= student.username %></strong></h1>
  </div>
  <div class="row">
    <% if(!portfolio) { %>
      <p>
        You don't have a Portfolio yet
      </p>
      <a class="btn btn-success" href="/students/<%= student.username %>/portfolio/new">create one now</a>
    <% } else { %>
      <p>
        You have a portfolio
      </p>
    <% } %>

  </div>
</div>